#code{
    height: auto;
    width: auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;

}

#code-width{
    width: 500px;
}
#code-height{
    width: 500px;
}

#code-padding{
    width: 500px;
}

.CodeMirror {
    padding: 10px 3px;
    height: auto;
    word-break: break-word;
    border-radius: 20px;

}

.CodeMirror > textarea{
    resize:none;
    -ms-overflow-style: none;
    outline: none;



}

.CodeMirror-scroll {
    height: auto;
    resize: none;
    overflow:hidden;
    border-radius: 20px;
    outline: none;
}


