
main > section > div > div > a:hover, main > section > div > div > article:hover, main > section > div > div > section:hover {
    color: black;
    background-color: gray;
    font-weight: bold;
    cursor: pointer;
}


main > section > div > div > section img {
    width: 40% !important;
    margin: auto;
    background-repeat: no-repeat;
}

main > section > div > div > a *:not(code, code *) {
    background-color: #E0E0E0 !important;
    border: none !important;
}

body > div > main > section > header > h1{
    padding-top: 3%;
}


body > div > main > section > div > div > div > a > article{
    background-color: #E0E0E0;
    border-radius: 10px;
    width: 100%;
    padding: 3% 3%;
    color: black;
    margin-top: 5%;
}

body > div > main > section > div > div > div > a:hover{
    text-decoration: none;
}

body > div > main > section:nth-child(1) > div > div > section > div{
    background-color: #E0E0E0!important;
    border: none!important;
}

body > div > main > section > div > div > div > a:hover > article{
    background-color: gray;
    color: black;
    text-decoration: none;
}

body > div > main > section > div > div > div > a > article > div:nth-child(1){
    text-align: center;
}

body > div > main > section > div > div > div > a > article > div:nth-child(1) > h2{
    width: 100%;
    font-size: 20px;
    font-family: "Courier New";
    font-weight: bold;
}

body > div > main > section > div > div > div > a > article > div:nth-child(3){
    padding-top: 20px;
    text-align: center;
}


body > div > main > section > div > div > div > a > article > div:nth-child(3) > p{
    width: 100%;
    font: 17px "Courier New";
}

body > div > main > section > div.container-fluid > div > div > div > p{
    color: red;
}

body > div > main > section > div.container-fluid > div > div > div > p:hover{
    cursor: pointer;
    text-decoration: underline;
}

body > div > main > section > div.row > div > a{
    padding: 10px 5px !important;
    margin-top: 50px;
    border-radius: 10px;
    height: 20px !important;
    border: none;
    border-radius: 10px;
    background-color: #E0E0E0;
    color: black;
}


@media (min-width: 768px) {

    main {
        margin-right: 50px;
        margin-left: 50px;
    }

    main > section > div > div > a img {
        width: 100px !important;
    }

    main > div > div {
        transform: scale(0.9);
    }

    main > section > div > div > a {
        transform: scale(0.9);
        margin: 0 !important;
        padding: 40px !important;
        width: 90px !important;
    }


}