.CodeMirror {
    padding: 10px 3px;
    word-break: break-word;
    border-radius: 20px;

}

.CodeMirror > textarea{
    resize:none;
    -ms-overflow-style: none;
    outline: none;
}

.CodeMirror-scroll {
    resize: none;
    overflow:hidden;
    border-radius: 20px;
    outline: none;
}
