main > div:nth-child(1) > div > div button, select, input {
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid lightslategray;
    color: black;
    width: 100% !important;
    margin: 10px 0 0 0;
    padding: 10px 0;
    text-align: center !important;
    -webkit-appearance: none;

}


main > div:nth-child(1) > div button:hover, select:hover {
    background-color: #f1f1f1 !important;
}

main > div:nth-child(1) > div {
    padding: 0 !important;
    margin: 0 !important;

}

.active {
    background-color: green !important;
}
