main label, main button {
    margin-top: 20px;
    margin-bottom: 0 !important;
    font-size: x-large;
    color: #333333;
}

.active {
    background-color: chartreuse !important;
}

main button:hover, main select:hover {
    background-color: #f1f1f1 !important;
    color: black !important;
}


main button, main select, main input {
    color:  black !important;
    text-align: center !important;
    outline: none;
    font-weight: lighter !important;
    width: 100% !important;
    border-color: #333333 !important;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}




