.paintingInfo {
    opacity: 0;
}

.categories > section > div:nth-child(2) {
    overflow-y: visible;
}

main > div:first-child{
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.container{
    width: 100%;
    max-width: 3000px;
}

.categories > section > div > div {
    position: relative;
    z-index: 2;
    user-select: none;
}



body a:hover{
    text-decoration: none;
}

body > div > main > section > div > div > section > div{
    background-color: #E0E0E0 !important;
    border: none !important;
}

body > div > main > section > div > div > div > a:hover > article{
    background-color: gray;
    color: black;
    text-decoration: none;
}

body > div > main > section > div > div > div > a > article > div:nth-child(1){
    text-align: center;
}


h2{
    display: inline-block;
    font-weight: bold;
    color: black;
}

h2:hover{
    cursor: pointer;
}


main {
    margin-right: 50px;
    margin-left: 50px;
}


.productWhole{
    width:370px !important;
    max-width: 500px !important;
}


@media screen and (prefers-reduced-motion) {
    * {
        animation: none;
        transition: none !important;
    }
}

#searchField{
    z-index: 9999999;
}

@media (max-width: 768px) {

    main{
        margin-right: 2px;
        margin-left: 2px;
    }

    main{
        z-index: 10 !important;
    }

    .categories, .categories > section > div:nth-child(2) {
        margin-left: 0!important;
        margin-right: 0 !important;
        padding: 0 !important;
    }

    .categories > section > div:nth-child(2) > div{
        overflow-y: hidden;
        overflow-x: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .categories > section > div:nth-child(2){

        padding-top: 0;
        padding-bottom: 0;

    }

    .productWhole{
        touch-action: manipulation;
    }

}