body{
    background: whitesmoke;
}

.errorInRegister{
    color: red;
}

main div:first-of-type{
    margin: 20px 0;
}

main form{
    width: 90%;
    background-color: rgba(255,255,255,0);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
    padding: 25px 35px 10px;
}
main form *{
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
main form h2{
    font-size: 25px;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
}


main label{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

main input:not(input:last-of-type){
    display: block;
    height: 30px;
    width: 100%;
    background-color: rgba(255,255,255,10);
    border-radius: 1px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

main > div:nth-child(1) > form > input[type=submit]:last-of-type{
    margin-top: 20px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
}

main > div:nth-child(1) > form > input[type=submit]:last-of-type:hover{
    background-color: gray;
    color: black;
}

@media (min-width: 768px) {
    main form{
        width: 60%;
    }

    main input:not(input:last-of-type){
        height: 50px;
        font-size: 20px;
    }

    main label{
        margin-top: 25px;
        font-size: 20px;
    }

    main > div:nth-child(1) > form > input[type=submit]:last-of-type, main div:first-of-type{
        font-size: 20px;
    }
}
