body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body header{
    background-color: #E0E0E0;
    padding-left: 20px;
    margin-bottom: 2%;
}

body header h1{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 55px;
    color: white;
    text-align: left;
}

body header > h2{
    color: black;
    text-align: left;
    font-size: 20px;
}

body nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 !important;
    z-index: 100;
}

body nav ul{
    list-style: none;
    margin: 0 0 !important;
    background-color: #f1f1f1;
    width: 100% !important;
}



body nav > ul > li{
    width:22%;
    padding: 10px 10px;
    background-color: #f1f1f1;
    text-align: center;
    display: inline-block;
}

body nav > ul > li a{
}

body nav > ul > li > a > img{

    margin-bottom: 0;

}

body > div > div  button, select{
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid lightslategray;
    color: black;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 0;
    text-align: center;
}
body > div > div  button:hover, body > div > div  select:hover{
    background-color: #f1f1f1 !important;
}

#code{
    margin-top: 1%;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    padding: 0;
}



/* Regole per la visualizzazione Desktop-Mode*/
/* Se il dispositivo ha una larghezza minima di 768px applico le seguenti regole*/
@media (min-width: 768px){
    body nav{
        position: static;
        margin-bottom: 10px;
    }

    body header{
        margin: 0;
    }


}



